@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');

html, body {
   height: 100%;
}
body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   transition: 0.3s;
   background: #F5F6F8;
   overflow: hidden;
}

aside {
   position: fixed;
   height: 100%;
   width: 300px;
   background-image: linear-gradient(to bottom, #5bc0be, #47a3b1, #3f879e, #3d6b86, #3a506b);
   color: #fff;
   box-shadow: 6px 0 18px rgba(0, 0, 0, 0.4);
   z-index: 999;
}

aside .company {
   padding: 15px 30px;
   border-bottom: 1px solid #fff;
}

aside .company h3 {
   margin: 0;
   word-wrap: break-word;
   font-family: 'Source Sans Pro', sans-serif;
   text-transform: uppercase;
   font-size: 1em;
}

aside .profile {
   padding: 30px;
   display: flex;
}

aside .profile .circle {
   position: relative;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background: black;
   margin-right: 10px;
   overflow: hidden;
}

aside .profile .circle img {
   height: 100%;
}

aside .profile .profile-name * {
   margin: 5px 0;
}

aside .profile .profile-name p:last-child {
   font-size: 12px;
}
aside ul {
   list-style: none;
   padding: 0 30px;
   margin: 0;
}

aside ul li a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #fff;
   padding: 5px 0;
}

aside ul li a:hover {
   color: rgba(18,23,38, 0.3);
}

aside ul li i {
   margin-right: 10px;
}

.white-space {
   position: relative;
   height: 71px;
   width: 100%;
   background: #fff;
   border-bottom: 0.5px solid #eaeaea;
}

.content {
   position: absolute;
   width: calc(100% - 300px);
   height: calc(100% - 71px);
   right: 0;
}

/* CONTENT */

.content {
   padding: 30px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
}

/* ADMIN */

.db-tables {
   height: 100%;
   width: 225px;
   padding: 10px 25px;
   background: #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.25);
   font-family: 'Source Sans Pro', sans-serif;
   box-sizing: border-box;
}

.db-tables h3 {
   font-weight: bold;
}

.table-list {
   display: flex;
   flex-direction: column;
}

.table-list button {
   padding: 10px 20px;
   border: none;
   background: #fff;
   cursor: pointer;
   text-align: left;
}

.table-list button:nth-child(odd) {
   background: rgba(219,223,228, .6);
}

.table-list button:focus {
   outline: 0;
}

.selected-table {
   position: relative;
   height: 100%;
   width: calc(100% - 255px);
   padding: 10px 25px;
   background: #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.25);
   font-family: 'Source Sans Pro', sans-serif;
   box-sizing: border-box;
   overflow-y: auto;
}

.loader {
   position: absolute;
   top: 37%;
   left: 39%;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #5BC0BE;
   width: 120px;
   height: 120px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.selected-table table {
   min-width: 100%;
   text-align: left;
   border-collapse: collapse;
   display: inline-block;
   margin-right: 25px; 
   font-size: 14px;
}

.selected-table table thead tr th {
   border: 1px solid #E5E5E5;
   padding: 10px 20px;
}

.selected-table table tbody:before {
   content: "-";
   display: block;
   line-height: 1em;
   color: transparent;
}

.selected-table table tbody tr:nth-child(even) {
   background: rgba(219,223,228, .6);
}

.selected-table table tbody tr:first-child {
   background: transparent;
}

.selected-table table tbody tr:first-child td:first-child {
   border-top: 1px solid #E5E5E5;
   border-left: 1px solid #E5E5E5;
   border-right: 1px solid #E5E5E5;
   border-bottom: 2px solid rgba(219,223,228, .6);
}

.selected-table table tbody tr td {
   padding: 10px 20px;
}

.selected-table tbody tr:first-child td {
   padding: 0;
}

.selected-table tbody .table-text-search {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   border: 1px solid #E5E5E5;
}

.selected-table tbody .table-text-search:focus {
   outline: none;
}

.selected-table tr td:first-child {
   min-width: 40px;
}

#filter i {
   font-size: 18px;
   text-decoration: none;
   color: rgba(58,80,107,.8);
}


.reset-this {
   animation : none;
   animation-delay : 0;
   animation-direction : normal;
   animation-duration : 0;
   animation-fill-mode : none;
   animation-iteration-count : 1;
   animation-name : none;
   animation-play-state : running;
   animation-timing-function : ease;
   backface-visibility : visible;
   background : 0;
   background-attachment : scroll;
   background-clip : border-box;
   background-color : transparent;
   background-image : none;
   background-origin : padding-box;
   background-position : 0 0;
   background-position-x : 0;
   background-position-y : 0;
   background-repeat : repeat;
   background-size : auto auto;
   border : 0;
   border-style : none;
   border-width : medium;
   border-color : inherit;
   border-bottom : 0;
   border-bottom-color : inherit;
   border-bottom-left-radius : 0;
   border-bottom-right-radius : 0;
   border-bottom-style : none;
   border-bottom-width : medium;
   border-collapse : separate;
   border-image : none;
   border-left : 0;
   border-left-color : inherit;
   border-left-style : none;
   border-left-width : medium;
   border-radius : 0;
   border-right : 0;
   border-right-color : inherit;
   border-right-style : none;
   border-right-width : medium;
   border-spacing : 0;
   border-top : 0;
   border-top-color : inherit;
   border-top-left-radius : 0;
   border-top-right-radius : 0;
   border-top-style : none;
   border-top-width : medium;
   bottom : auto;
   box-shadow : none;
   box-sizing : content-box;
   caption-side : top;
   clear : none;
   clip : auto;
   color : inherit;
   columns : auto;
   column-count : auto;
   column-fill : balance;
   column-gap : normal;
   column-rule : medium none currentColor;
   column-rule-color : currentColor;
   column-rule-style : none;
   column-rule-width : none;
   column-span : 1;
   column-width : auto;
   content : normal;
   counter-increment : none;
   counter-reset : none;
   cursor : auto;
   direction : ltr;
   display : inline;
   empty-cells : show;
   float : none;
   font : normal;
   font-family : inherit;
   font-size : medium;
   font-style : normal;
   font-variant : normal;
   font-weight : normal;
   height : auto;
   hyphens : none;
   left : auto;
   letter-spacing : normal;
   line-height : normal;
   list-style : none;
   list-style-image : none;
   list-style-position : outside;
   list-style-type : disc;
   margin : 0;
   margin-bottom : 0;
   margin-left : 0;
   margin-right : 0;
   margin-top : 0;
   max-height : none;
   max-width : none;
   min-height : 0;
   min-width : 0;
   opacity : 1;
   orphans : 0;
   outline : 0;
   outline-color : invert;
   outline-style : none;
   outline-width : medium;
   overflow : visible;
   overflow-x : visible;
   overflow-y : visible;
   padding : 0;
   padding-bottom : 0;
   padding-left : 0;
   padding-right : 0;
   padding-top : 0;
   page-break-after : auto;
   page-break-before : auto;
   page-break-inside : auto;
   perspective : none;
   perspective-origin : 50% 50%;
   position : static;
   /* May need to alter quotes for different locales (e.g fr) */
   quotes : '\201C' '\201D' '\2018' '\2019';
   right : auto;
   tab-size : 8;
   table-layout : auto;
   text-align : inherit;
   text-align-last : auto;
   text-decoration : none;
   text-decoration-color : inherit;
   text-decoration-line : none;
   text-decoration-style : solid;
   text-indent : 0;
   text-shadow : none;
   text-transform : none;
   top : auto;
   transform : none;
   transform-style : flat;
   transition : none;
   transition-delay : 0s;
   transition-duration : 0s;
   transition-property : none;
   transition-timing-function : ease;
   unicode-bidi : normal;
   vertical-align : baseline;
   visibility : visible;
   white-space : normal;
   widows : 0;
   width : auto;
   word-spacing : normal;
   z-index : auto;
   /* basic modern patch */
   all: initial;
   all: unset;
}