@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   font-family: 'Montserrat', sans-serif;
}

/* TOP */

nav {
   background-color: #11131D;
   color: rgba(255, 255, 255, 0.7);
   justify-content: space-between;
   font-weight: bold;
}

nav .container {
   box-sizing: border-box;
   padding: 0 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

nav i {
   cursor: pointer;

}

/* REMOVE THIS ONCE SIDEBAR DESIGN IS UP*/
nav a {
   color: rgba(255, 255, 255, 0.7);
}

.header {
   display: flex;
   flex-direction: column;
   text-transform: uppercase;
   font-weight: bold;
   background: #3A506B;
   color: rgba(255, 255, 255, 0.7);
   padding-bottom: 15px;
}

.port-name {
   text-align: center;
}

.progress-section, .progress {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.progress-name  {
   font-size: 12px;
   text-align: center;
   text-shadow: 0 2px 4px #000000;
}

.progress-section span {
   display: inline-block;
   padding: 0;
   margin: 0 10px 0 50px;
   font-size: 16px;
   font-weight: bolder;
   line-height: 35px;
   color: rgba(18,23,38, 0.5);
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   background-color: #5BC0BE;
   border-radius:50px;
   position: relative;
   top: -3px;
   height: 35px;
   width: 35px;
}

/* NAV BUTTONS*/

.nav-btns {
   position: absolute;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%);
   width: 950px;
   display: flex;
   justify-content: space-between;
}

.btn-nav {
   display: inline-block;
   border-radius: 100%;
   border: 1px solid rgba(18,23,38, 0.3);
   background: #FFFFFF;
   color: #5BC0BE;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
   height: 80px;
   width: 80px;
   font-size: 4em;
   font-weight: bold;
   line-height: 83px;
   cursor: pointer;
}

.btn-nav:active {
   background: rgba(18,23,38,0.3);
   color: rgba(18,23,38,0.3);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}


/* FORM-SLIDE */

.form-slide {
   position: relative;
   height: 403px;
   width: 703px;
   margin: 50px auto;
   overflow: hidden;
   display: flex;
   flex-direction: row;
}

/* DASHBOARD */

section {
   height: 400px;
   width: 700px;
   margin: auto;
   background: rgba(219,223,228, .6);
   font-family: 'Source Sans Pro', sans-serif;
   border-radius: 4px;
   border: 1.5px solid rgba(18,23,38, 0.3);
   flex-shrink: 0;
   transition: 0.8s;
   transform: scaleX(0);
   position: absolute;
}

section .container {
   height: 100%;
   box-sizing: border-box;
   padding: 2px 40px;
}

section h1 {
   color: rgba(0, 0, 0, 0.7);
}

section p {
   color: rgba(18, 23, 38, 0.6);
   margin-bottom: 5px;
}

.reveal {
   transform: scaleX(1);
}

.originLeft {
   transform-origin: 0 0;
}

.originRight {
   transform-origin: 100% 0;
}

/* VESSEL, ROUTE, AND FARE */

.vessels, .routes, .fares {
   display: flex;
   flex-direction: column;
}

.form-btn {
   background: #5BC0BE;
   color: #FFFFFF;
   border: none;
   height: 50px;
   margin: 10px 0;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   font-size: 19px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-btn:nth-child(1) {
   margin-top: 0;
}

.form-btn:focus  {
   border: none;
   outline:none;
}

.form-btn:active {
   background: rgba(18,23,38,0.3);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.clicked {
   background: rgba(18,23,38,0.3);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}

/* VOYAGE */

.voyage {
   display: flex;
   flex-direction: column;
}

.voyage .voyage-number, .voyage .ticketing-agent {
   display: flex;
   height: 50px;
   border: 1.5px solid rgba(18,23,38, 0.6);
}

.voyage .voyage-number input {
   border: none;
   height: 100%;
   width: 90%;
   padding: 0 30px;
   font-size: 18px;
   background-color: rgba(18,23,38,0.3);
}

.voyage .voyage-number input:focus {
   outline: none;
   text-underline-position: none;
}

.voyage .voyage-number input:-webkit-autofill {
   -webkit-animation-name: autofill;
   -webkit-animation-fill-mode: both;
}

.voyage .voyage-number i {
   text-align: center;
   width: 10%;
   height: 100%;
   line-height: 50px;
   background-color: rgba(18,23,38,0.3);
}

.voyage .voyage-date {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.voyage .voyage-date #year,
.voyage .voyage-date #month,
.voyage .voyage-date #day {
   height: 50px;
   padding: 10px;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
   color: rgba(18,23,38, 0.5);
   border: 1.5px solid rgba(18,23,38, 0.3);
}

.voyage .voyage-date #year {
   width: 30%;
}

.voyage .voyage-date #month {
   width: 30%;
}

.voyage .voyage-date #day {
   width: 30%;
}


.voyage .ticketing-agent input {
   border: none;
   height: 100%;
   width: 100%;
   padding: 0 30px;
   font-size: 18px;
   background-color: rgba(18,23,38,0.3);
}

.voyage .ticketing-agent input:focus {
   outline: none;
   text-underline-position: none;
}

.voyage .ticketing-agentr input:-webkit-autofill {
   -webkit-animation-name: autofill;
   -webkit-animation-fill-mode: both;
}
